{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {% include 'components/_header.html.twig' %}
    <div class="container w-50">
        <table class="table table-striped">
            <tr>
                <th>Email</th>
                <th>Is admin</th>
                <th>Actions</th>
            </tr>
            {% for instructor in instructors %}
                {% if "ROLE_SUPER_ADMIN" not in instructor.roles %}
                <tr>
                   <td>{{ instructor.email }}</td>
                   <td>
                       {% if "ROLE_ADMIN" in instructor.roles   %}
                        yes
                       {% else %}
                           no
                       {% endif %}
                   </td>
                    <td>
                        <a class="btn btn-primary text-white" href={{ path('admin_instructor_update',{id:instructor.id})}}>Change</a>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
{% endblock %}
