{% extends 'base.html.twig' %}
{% block title %}{{ parent() }}-Congrats{% endblock %}

{% block body %}
    {% include 'components/_header.html.twig' %}

    <div class="container d-flex flex-column justify-content-center align-items-center">
        <h1>Congratulations {{ winner.firstname }} you won </h1>
        {%    include ('components/_reward.html.twig')%}
    <a class="btn btn-lg btn-primary text-white m-5" href="{{ path('home') }}">Back to Home</a>
    </div>
{% endblock %}
