{% extends 'base.html.twig' %}
{% block body %}
    {% include 'components/_header.html.twig' %}

    <div class="container d-flex flex-column justify-content-center align-items-center">
        <h1>Congratulations {{ winner.firstname }} you won </h1>
        {%    include ('components/_reward.html.twig')%}
    </div>
{% endblock %}
