{% set arr = app.user?app.user.email|split('.'):["instructor"] %}
<h1>Hello {{ arr[0]|capitalize}}</h1>
<p>roles:
    {% if app.user %}
        {% for role in app.user.roles  %}
            {{ role }}
        {% endfor %}
    {% endif %}
</p>